{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Выберите правильный перевод для слова: <strong>{{ word }}</strong></h2>

    <form method="post">
        {% csrf_token %}
        {% for option in options %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" id="option{{ forloop.counter }}" value="{{ option.translation }}" required>
            <label class="form-check-label" for="option{{ forloop.counter }}">
                {{ option.translation }}
            </label>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success mt-3">Проверить</button>
    </form>
</div>
{% endblock %}
